@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    background-color: rgb(246, 246, 246);
}


.container {
    @include container;
    
    ul {
        @include navflex;  
     }

     a {
        @include navflex;
     }
}

.s-1 {
    h1 {
        @include headings
    }


    .cards {
        display: flex;
        justify-content: space-between  
    }

    h2 {
        @include cardheading;
    }

    .card-1,
    .card-2, 
    .card-3 {
        @include card;

    }

    p {
        @include cardpar;
    } 


    .card-1 {
        background-image: url(../images/Rectangle\ 1.png);
        background-repeat: no-repeat;
    
    }

    .card-2 {
        background-image: url(../images/Rectangle\ 3.png);
        background-repeat: no-repeat;
    }

    .card-3 {
        background-image: url(../images/Rectangle\ 4.png);
        background-repeat: no-repeat;
    }

    span {
        color:#8A8787;
        font-weight: 700;
        font-size: 10px;
        font-family: $main-font;
    }
}


.fa-clock {
    @include clock;

}

.s-2 {

    h1 {
        @include headings; }
    
    .flex {
        @include flexbox;
    }

    .rightflex {
        @include rightflex;
    }

    .leftflex {
       @include leftflex;
    }
}

.footercontainer{
    @include footer;

    .footerflex {
        @include footerflex;
    }

    .list {
        @include list;
    }

    a  {
        @include list;
        
    }

    li {
        margin-bottom: 14px;
    }

    .last {
        font-family: $main-font;
        font-weight: 400;
        font-size: 12px;
        color: white;
        margin-top: 59px;
        display: flex;
    }
    
    .image {
        margin-top: 58px;
    }
}

